@font-face  {
    font-family: 'Light';
    src: url('assests/fonts/Radikal Light.otf');
}
@font-face  {
    font-family: 'Medium';
    src: url('assests/fonts/Radikal Medium.otf');
}
@font-face  {
    font-family: 'Bold';
    src: url('assests/fonts/Radikal Bold.otf');
}
@font-face  {
    font-family: 'Black';
    src: url('assests/fonts/Radikal Black.otf');
}
:root {
    --blue: #04f5ff;
    --pink: #f5006f;
    --green: #00ff85;
    --purple: #38003c;
    --violet: #a400ff;
    --yellow: #eaff04;
    --grey: rgba(0,0,0,0.1);
}
::selection {
    background: var(--pink);
    color: #fff;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    user-select: none;
}
html {
    scroll-behaviour: smooth !important;
}
body {
    margin: 0;
    background: #fff;
    font-family: 'Nunito', sans-serif;
    font-family: 'Medium';
}
header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 5px;
    background: var(--purple);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5) !important;
    z-index: 999;
    user-select: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
header div {
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 45px;
    height: auto;
    user-select: none;
}
header #cup-name{
    font-size: 18px;
    font-family: 'Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
header i {
    font-size: 25px;
    margin: 10px;
}
.logo-banner {
    background: linear-gradient(to bottom right, var(--green), var(--blue));
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    font-size: 45px;
    font-family: 'Bold';
}
.site-heading {
    background: linear-gradient(to bottom right, var(--green), var(--blue));
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 40px 20px;
    font-size: 30px;
    font-family: 'Bold';
    word-break: break-word;
}
.logo-banner img {
    width: 150px;
    height: auto;
}
.violet-border {
    padding: 20px 0 0 0;
    background: var(--purple);
}
.violet-border div {
    width: calc(100% - 15px);
    height: 7px;
    background: linear-gradient(to right, var(--violet), var(--pink));
    margin: 0 auto;
}
.heading {
    font-size: 18px;
    padding: 15px 10px;
    font-family: 'Bold';
    border-bottom: solid 5px var(--grey);
    display: flex;
    justify-content: space-between;
}
.teams-box {
    padding: 10px;
}
.team {
    padding: 8px;
    border-bottom: solid 1px var(--grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.team img {
    width: 45px;
    height: auto;
    margin: 5px 10px;
}
.team div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.team #stadium {
    font-size: 12px;
    color: gray;
}
.match-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.match {
    width: 380px;
    height: auto;
    margin: 10px auto;
    padding: 15px;
    --lg: lightgrey;
    border-bottom: solid 1px var(--grey);
}
.match:hover {
    --lg: #fff;
    background: linear-gradient(to bottom right, var(--blue), var(--violet));
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
    color: #fff;
}
.match div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 5px auto;
}
.match div:last-child {
    font-size: 12px;
}
.match #verses {
    background: #fff;
    width: 80px;
    padding: 7px 5px;
    color: black;
    border: solid 1px var(--lg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#verses span, #done span{
    width: 25px;
    display: grid;
    place-items: center;
    text-align: center;
}
.match #done {
    background: var(--purple);
    width: 80px;
    padding: 7px 5px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.match img {
    width: 40px;
    height: auto;
    margin: 10px;
}
.news-box {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.news {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    border-bottom: solid 1px var(--grey);
    padding: 20px 0;
}
.news div:last-child {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Light';
}
.news div.image-box {
    width: 200px !important;
    height: 120px;
    margin-right: 10px;
    background: rgba(0,0,0,0.05);
    background-size: 100% auto !important;
    transition: background-size 0.5s ease;
    background-position: center center !important;
    border: none;
    outline: none;
}
.news:hover div.image-box {
    background-size: 110% auto !important;
}
.news #headline {
    font-size: 12px;
    color: var(--pink);
    margin: 5px 0;
    font-family: 'Medium';
}
footer {
    padding: 10px 5px;
    background: var(--purple);
    color: #fff;
}
footer .title {
    font-size: 18px;
    margin: 10px 5px;
    font-family: 'Bold';
}
footer .content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content-box .content {
    width: 230px;
    color: lightgray;
    font-size: 15px;
    font-family: 'Medium';
    padding: 5px;
    margin: 5px 0;
    user-select: none;
    transition: color 0.3s ease;
}
.content:hover {
    color: var(--pink);
}
.hr {
    width: calc(100% - 5px);
    height: 1px;
    background: rgba(255,255,255,0.3);
    margin: 5px auto;
}
#footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    font-family: 'Bold';
}
#footer-logo img {
    width: 50px;
    height: 50px;
}
#powered-by {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
#powered-by div {
    width: 100%;
    display: grid;
    place-items: center;
}
#powered-by img {
    width: 120px;
    height: auto;
    margin: 20px 15px;
}
#powered-by img:first-child {
    width: 150px;
}
.view-more {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.view-more button {
    background: transparent;
    outline: none;
    border: none;
    font-family: 'Light';
    font-size: 12px;
}

.table-box {
    padding: 0;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px var(--grey);
}
.table-box table {
    width: 100%;
    height: auto;
    border-radius: inherit;
    border-collapse: collapse;
}
.table-box table th {
    padding: 15px 7px;
    font-family: 'Light';
    font-size: 13px;
    background: rgba(0,0,0,0.05);
    text-align: left;
}
.table-box table th:first-child {
    border-top-left-radius: 5px;
}
.table-box table th:last-child {
    border-top-right-radius: 5px;
}
.table-box table th:nth-child(n+3){
    text-align: center;
}
.table-box table td {
    padding: 7px;
    font-family: 'Light';
    font-size: 14px;
    border-bottom: solid 1px var(--grey);
    text-align: center;
}
.table-box table td:nth-child(2){
    text-align: left;
}
.table-box table td p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-box table tr:last-child td {
    border: none;
}
.table-box table td img{
    width: 30px;
    height: auto;
    margin-right: 5px;
}
